<%- include('header') -%>

<h1>Current Game</h1>
<div>
  <span>Name: </span>
  <span id="name"></span>
</div>
<div>
  <span>Phase: </span>
  <span id="phase"></span>
</div>
<div>
  <span>Round: </span>
  <span id="round"></span>
</div>
<div>
  <span>Active Player: </span>
  <span id="player"></span>
</div>


<%- include('modal') -%>

<%- include('scripts') -%>

<%- include('footer') -%>