<head>
  <link rel="stylesheet" href="/css/modal.css">
  <script src='/js/micromodal.min.js' type='text/javascript'></script>
</head>

<body>

  <span>Hello EJS!</span>

  <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title">
            Micromodal
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <div class="modal-content-content">
          <div class="modal__content">
            Modal content
          </div>
          <footer class="modal__footer">
            <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
  
  <a data-micromodal-trigger="modal-1" href='javascript:void(0);'>Open Modal Dialog</a>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
  
  try {
    
    MicroModal.init({
      awaitCloseAnimation: true,// set to false, to remove close animation
      onShow: function(modal) {
        console.log("micromodal open");
      },
      onClose: function(modal) {
        console.log("micromodal close");
      }
    });
    
  } catch (e) {
    console.log("micromodal error: ", e);
  }
  
});

  </script>

</body>